html
  head
    meta(charset="UTF-8")
    title Create Account
    link(rel="stylesheet" href="../css/register.css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(type="text/javascript" src="../js/register.js")
  body
    div(id="wrapper")
      div(class="join") Sign-up
      div(class="lock")
      div(class="form2", name="register", id="form2")
        form(method="POST" action="/newUserLocal")
          div
            input(type="text", placeholder="Enter your first name...", size="70", 
             id="firstname", name="firstname")
          div
            input(type="text", placeholder="Enter your last name...", size="70", 
              id="lastname", name="lastname")
          div
            input(type="text", placeholder="Enter your email address...", size="70", 
               id="mail", name='email' value
               =
               email
               )
          div
            input(type="password", placeholder="Enter a password...", size="70", 
              id="password", name='password')
          div
            input(type="password", placeholder="Confirm password..", size="70", 
              id="password2")
          button(class="create-acc", type="submit") Create My Account
        div(class='clr')
          hr
          p
           = message
